In [2]:
import pandas as pd 
import numpy as np

In [5]:
NY_Boroughs_df = pd.read_csv("New York City Counties.csv")
NY_Boroughs_df.head()

                       County  Population
0                    New York  19867248.0
1     .Bronx County, New York   1384724.0
2     .Kings County, New York   2617631.0
3  .New York County, New York   1660664.0
4    .Queens County, New York   2316841.0

In [15]:
NY_Boroughs_df_2 = NY_Boroughs_df.copy()
NY_Boroughs_df_2.head(6)

                       County  Population
0                    New York  19867248.0
1     .Bronx County, New York   1384724.0
2     .Kings County, New York   2617631.0
3  .New York County, New York   1660664.0
4    .Queens County, New York   2316841.0
5  .Richmond County, New York    498212.0

In [16]:
NY_Boroughs_df_2["Population"] = NY_Boroughs_df_2["Population"].apply(lambda x: f"{int(x):,}")
NY_Boroughs_df_2.head(6)

                       County  Population
0                    New York  19,867,248
1     .Bronx County, New York   1,384,724
2     .Kings County, New York   2,617,631
3  .New York County, New York   1,660,664
4    .Queens County, New York   2,316,841
5  .Richmond County, New York     498,212

In [17]:
NY_Boroughs_df_2.head(6)

                       County  Population
0                    New York  19,867,248
1     .Bronx County, New York   1,384,724
2     .Kings County, New York   2,617,631
3  .New York County, New York   1,660,664
4    .Queens County, New York   2,316,841
5  .Richmond County, New York     498,212

In [18]:
NY_Boroughs_df_2["County"] = NY_Boroughs_df_2["County"].replace({
    "New York" : "New York City", 
    ".Bronx County, New York" : "Bronx County",
    ".Kings County, New York" : "Kings County (Brooklyn)",
    ".New York County, New York" : "New York County (Manhattan)",
    ".Queens County, New York" : "Queens County",
    ".Richmond County, New York" : "Richmond County (Staten Island)"
})

NY_Boroughs_df_2.head(6)

                            County  Population
0                    New York City  19,867,248
1                     Bronx County   1,384,724
2          Kings County (Brooklyn)   2,617,631
3      New York County (Manhattan)   1,660,664
4                    Queens County   2,316,841
5  Richmond County (Staten Island)     498,212

In [19]:
NY_Boroughs_df_2 = NY_Boroughs_df_2.rename(columns={
    "County" : "Borough",
    "Population" : "Population (July, 2024)"
})

NY_Boroughs_df_2.head(6)

                           Borough Population (July, 2024)
0                    New York City              19,867,248
1                     Bronx County               1,384,724
2          Kings County (Brooklyn)               2,617,631
3      New York County (Manhattan)               1,660,664
4                    Queens County               2,316,841
5  Richmond County (Staten Island)                 498,212

In [20]:
#Save to a new csv file
NY_Boroughs_df_2.to_csv("NYC Boroughs Data.csv", index=False)